{% extends "layout.html" %}

{% block body %}

    <form method="post">
        <input autocomplete="off" autofocus name="carrera" placeholder="Buscar" type="text">
        <button type="submit">Buscar</button>
    </form>
    <table class="table">
        <thead>
            <tr>
                <th>CURSO</th>
                <th>UNIVERSIDAD</th>
                <th>PETICIÓN</th>
                <th>GRADO</th>
                <th>CENTRO</th>
                <th>ÁREA</th>
                <th>GENERAL</th>
            </tr>
        </thead>
        <tbody>
            {% for nota in tabla %}
        <tr>
            <td>{{ nota.curso }}</td>
            <td>{{ nota.universidad }}</td>
            <td>{{ nota.peticion }}</td>
            <td>{{ nota.grado }}</td>
            <td>{{ nota.centro }}</td>
            <td>{{ nota.area }}</td>
            <td>{{ nota.general }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}